doctype html
html(lang="en")
  block vars
    -
      var title = 'Bangs!'
      var description = 'This file lists information about each property and its supported values.'
    mixin stabilityHn(stab)
      span.h-Block.-ps-a= `Stability ${global.stability_indices.indexOf(stab)}:`
      b.-tt-h.-tt-uc= `${stab.name.charAt(0).toUpperCase() + stab.name.slice(1)}`
    mixin propertyDoc(property_name)
      - var property = properties.find(function (p) { return p.name === property_name })
      - let stab = global.stability_indices[property.stability]
      section.c-Property(id=property.name)
        h3
          = property.name
          a._fragid(href=`#${property.name}` aria-label="permalink")
        p.o-Alert(class=`t-stability-${stab.name}`)
          span.o-Alert__Hn.h-Block: +stabilityHn(stab)
          span.h-Block= stab.description
        p: a(href=property.url)= property.summary
        dl.c-Property__Details
          dt Inherited#[sup: a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance" title="read about inherited properties") ?]:
          dd= property.inherited
          dt Initial Value#[sup: a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/initial_value" title="read about initial values") ?]:
          dd: code= property.initial
        h4 Classes
        dl.c-Property__Classes
            each val in global.values
              dt: code= `.-${property.code}-${val.code}`
              dd: code= val.name
            each val in property.values.filter(function (v) { return global.values.every(function (u) { return u.name !== v.name }) })
              dt
                code= `.-${property.code}-${val.code}`
                if val.stability
                  - let kwd = global.stability_indices[val.stability].name
                  small.c-Label(class=`t-stability-${kwd}`): b= kwd
              dd
                code= val.name
                if val.name === property.initial
                  small.c-Label.-tt-h.-tt-uc(style="background-color:#ff99c0;") initial value
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/master/xmeter.min.css")
      link(rel="stylesheet" href="./bangs.css")
      style.
        main {
          margin: 0 2rem;
        }
        .o-Alert {
          width: 66.667%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: var(--vru);
          padding: calc(var(--vru) / 2) 1rem;
          font-size: 0.875rem;
        }
        .o-Alert > * {
          --vru: calc(var(--line-height) * 0.875rem);
        }
        .o-Alert__Hn {
          margin-bottom: var(--vru);
          text-align: center;
        }
        .c-Property__Details,
        .c-Property__Classes {
          display: -ms-grid;
          display:     grid;
          -ms-grid-template-columns: 200px auto;
              grid-template-columns: 200px auto;
        }
        .c-Property__Classes {
          max-height: 300px;
          overflow: scroll;
          background-color: #eee;
        }
        .c-Label {
          margin-left: 1rem;
          padding: calc(var(--vru) / 8) 0.25rem;
          font-variant: small-caps;
        }
        .t-stability-obsolete     { background-color: black;   color: white; }
        .t-stability-deprecated   { background-color: #ff4b33; color: white; }
        .t-stability-experimental { background-color: #ffe433; }
        .t-stability-stable       { background-color: #9acc7a; }
        .t-stability-locked       { background-color: #99daff; }
        ._fragid {
          display: inline;
          line-height: 0;
          margin-left: 1rem;
          font-weight: 100;
        }
        ._fragid::before { content: ''; }
        h1:hover > ._fragid::before,
        h2:hover > ._fragid::before,
        h3:hover > ._fragid::before,
        h4:hover > ._fragid::before,
        h5:hover > ._fragid::before,
        h6:hover > ._fragid::before,
        ._fragid:focus::before { content: '\00a7'; }
  body.docs-body
    a.h-Hidden(href="#main") skip to main content
    main.docs-main#main
      header
        h1= title
        p= description
        section
          h2 Stability Indices
          p.
            Please note the following stability indices.
            Each CSS property in this project is assigned an index describing its stability;
            some values or pseudo-classes under a property might possibly have their own index,
            in which case this would override the property&rsquo;s stability index.
          p.
            For example, the group of classes #[code .-d] (corresponding to the CSS property #[code display])
            might have Stability 4, but #[code .-d-fx] (for #[code display: flex]) could have Stability 3, and
            #[code .-d-il-nK] (for #[code display: inline] on extra-small screens) could have Stability 2.
          dl.o-List
            each item in global.stability_indices
              li.o-List__Item.o-Alert(class=`t-stability-${item.name}`)
                dt.o-Alert__Hn: +stabilityHn(item)
                dd= item.description
      section
        h2 Layout
        +propertyDoc('display')
        +propertyDoc('position')
        +propertyDoc('left')
        +propertyDoc('right')
        +propertyDoc('top')
        +propertyDoc('bottom')
        +propertyDoc('float')
        +propertyDoc('clear')
        +propertyDoc('z-index')
        +propertyDoc('vertical-align')
        +propertyDoc('flex-direction')
        +propertyDoc('flex-wrap')
        +propertyDoc('justify-content')
        +propertyDoc('align-content')
        +propertyDoc('align-items')
        +propertyDoc('align-self')
        +propertyDoc('order')
        +propertyDoc('flex')
      section
        h2 Box Structure
        +propertyDoc('box-sizing')
        +propertyDoc('width')
        +propertyDoc('margin')
        +propertyDoc('padding')
      section
        h2 Text Structure
        +propertyDoc('font-style')
        +propertyDoc('font-variant')
        +propertyDoc('font-weight')
        +propertyDoc('font-size')
        +propertyDoc('font-family')
        +propertyDoc('line-height')
        +propertyDoc('letter-spacing')
        +propertyDoc('word-spacing')
        +propertyDoc('text-align')
        +propertyDoc('text-indent')
        +propertyDoc('white-space')
        +propertyDoc('overflow-wrap')
        +propertyDoc('column-count')
        +propertyDoc('column-width')
        +propertyDoc('page-break-before')
        +propertyDoc('page-break-after')
      section
        h2 Box Cosmetics
        +propertyDoc('border-style')
        +propertyDoc('border-color')
        +propertyDoc('background-image')
        +propertyDoc('background-position')
        +propertyDoc('background-size')
        +propertyDoc('background-repeat')
        +propertyDoc('background-attachment')
        +propertyDoc('background-origin')
        +propertyDoc('background-clip')
        +propertyDoc('background-color')
        +propertyDoc('overflow')
        +propertyDoc('opacity')
        +propertyDoc('visibility')
        +propertyDoc('box-shadow')
      section
        h2 Text Cosmetics
        +propertyDoc('color')
        +propertyDoc('text-transform')
        +propertyDoc('text-decoration')
        +propertyDoc('text-shadow')
        +propertyDoc('text-overflow')
        +propertyDoc('list-style-type')
        +propertyDoc('list-style-position')
        +propertyDoc('list-style-image')
