doctype html
html(lang="en")
  block vars
    -
      var title = 'Bangs!'
      var description = 'This file lists information about each property and its supported values.'
      const groupings = {
        'Layout': [
          'display'
        , 'position'
        , 'left'
        , 'right'
        , 'top'
        , 'bottom'
        , 'float'
        , 'clear'
        , 'z-index'
        , 'vertical-align'
        , 'flex-direction'
        , 'flex-wrap'
        , 'justify-content'
        , 'align-content'
        , 'align-items'
        , 'align-self'
        , 'order'
        , 'flex'
        ]
      , 'Box Structure': [
          'box-sizing'
        , 'width'
        , 'margin'
        , 'padding'
        ]
      , 'Text Structure': [
          'font-style'
        , 'font-variant'
        , 'font-weight'
        , 'font-size'
        , 'font-family'
        , 'line-height'
        , 'letter-spacing'
        , 'word-spacing'
        , 'text-align'
        , 'text-indent'
        , 'white-space'
        , 'overflow-wrap'
        , 'column-count'
        , 'column-width'
        , 'page-break'
        ]
      , 'Box Cosmetics': [
          'border-*-style'
        , 'border-*-color'
        , 'background-image'
        , 'background-position'
        , 'background-size'
        , 'background-repeat'
        , 'background-attachment'
        , 'background-origin'
        , 'background-clip'
        , 'background-color'
        , 'box-shadow'
        , 'overflow'
        , 'opacity'
        , 'visibility'
        ]
      , 'Text Cosmetics': [
          'text-transform'
        , 'text-decoration'
        , 'text-shadow'
        , 'text-overflow'
        , 'list-style-type'
        , 'list-style-position'
        , 'list-style-image'
        , 'color'
        ]
      }
    mixin propertyDoc(property)
      section(id=property.name)
        h3
          = property.name
          a._fragid(href=`#${property.name}` aria-label="permalink")
        dl
          dt Name
          dd: a(href=property.url): code= property.name
          dt Description
          dd= property.summary
          dt Inherited #[sup: a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance" title="read about inherited properties") ?]
          dd= property.inherited
          dt Initial #[sup: a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/initial_value" title="read about initial values") ?]
          dd: code= property.initial
          if property.stability
            dt Stability
            dd
              - let kwd = global.stability_indices[property.stability].name
              span.c-Stability.c-Stability--inline(class=`c-Stability--${kwd}`)
                b.c-Stability__Kwd= kwd
          dt Classes
          dd: dl
            each val in global.values
              dt: code= `.-${property.code}-${val.code}`
              dd: code= `${property.name}: ${val.name};`
            each val in property.values.filter(function (v) { return global.values.map(function (u) { return u.name }).indexOf(v.name) < 0 })
              dt
                code= `.-${property.code}-${val.code}`
                if val.stability
                  - let kwd = global.stability_indices[val.stability].name
                  small.c-Stability.c-Stability--inline(class=`c-Stability--${kwd}`)
                    b.c-Stability__Kwd= kwd
              dd: code= `${property.name}: ${val.name};`
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/master/xmeter.min.css")
      link(rel="stylesheet" href="./bangs.css")
      style.
        ol {
          counter-reset: stability -1;
        }
        .c-Stability--block {
          padding: calc(var(--vru) / 2) 1rem;
          margin-bottom: var(--vru);
        }
        .c-Stability--block::before {
          counter-increment: stability;
          content: 'Stability ' counter(stability);
          position: absolute;
        }
        .c-Stability--block h3,
        .c-Stability--block p {
          margin-bottom: 0;
        }
        .c-Stability--inline {
          padding: calc(var(--vru) / 8) 0.25rem;
        }
        small.c-Stability--inline {
          margin-left: 1rem;
        }
        .c-Stability--obsolete     { background-color: black;   color: white; }
        .c-Stability--deprecated   { background-color: #ff4b33; color: white; }
        .c-Stability--experimental { background-color: #ffe433; }
        .c-Stability--stable       { background-color: #9acc7a; }
        .c-Stability--locked       { background-color: #99daff; }
        .c-Stability__Hn {
          font-size: inherit;
          line-height: inherit;
          text-align: center;
        }
        .c-Stability__Kwd {
          text-transform: uppercase;
        }
        ._fragid {
          display: inline;
          line-height: 0;
          margin-left: 1rem;
          font-weight: 100;
        }
        ._fragid::before { content: ''; }
        h1:hover > ._fragid::before,
        h2:hover > ._fragid::before,
        h3:hover > ._fragid::before,
        h4:hover > ._fragid::before,
        h5:hover > ._fragid::before,
        h6:hover > ._fragid::before,
        ._fragid:focus::before { content: '\00a7'; }
  body.docs-body
    a.h-Hidden(href="#main") skip to main content
    main.docs-main#main
      header
        h1= title
        p= description
        section
          h2 Stability Indices
          p.
            Please note the following stability indices.
            Each CSS property in this project is assigned an index describing its stability;
            some values or pseudo-classes under a property might possibly have their own index,
            in which case this would override the property&rsquo;s stability index.
          p.
            For example, the group of classes #[code .-d] (corresponding to the CSS property #[code display])
            might have Stability 4, but #[code .-d-fx] (for #[code display: flex]) could have Stability 3, and
            #[code .-d-il-nK] (for #[code display: inline] on extra-small screens) could have Stability 2.
          ol.o-List.-w-2o3.-mh-a
            each item in global.stability_indices
              li.o-List__Item.c-Stability.c-Stability--block(class=`c-Stability--${item.name}`)
                h3.c-Stability__Hn.c-Stability__Kwd= item.name
                p= item.description
      each group,index in groupings
        section
          h2= index
          each prop in properties.filter(function (p) { return groupings[index].indexOf(p.name) >= 0 })
            +propertyDoc(prop)
