doctype html
html(lang="en")
  - let page = Docs.DOCS.find('/docs/index.html')
  mixin proptoc(args, inner)
    //- NOTE parameter validation
    -
      var pages   = args.pages   || []
      var depth   = +args.depth  || 0
    ol&attributes(inner ? {} : { role: 'directory' })
      each item in pages
        li
          a(href=item.url())= item.name()
          if item.findAll().length && depth > 0
            +proptoc({pages: item.findAll(), depth: depth-1}, true)
  mixin stabilityLevel(stab)
    p.o-Alert(class=`t-stability-${stab.name}`)
      span.o-Alert__Hn.h-Block
        span.h-Block.-ps-a= `Stability ${Docs.DATA.global.stability_levels.indexOf(stab)}:`
        b.-tt-h.-tt-uc= `${stab.name.charAt(0).toUpperCase() + stab.name.slice(1)}`
      span.h-Block= stab.description
  head
    title= page.title() || page.name()
    meta(charset="utf-8")
    meta(name="description" content=page.description())
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/master/xmeter.min.css")
      link(rel="stylesheet" href="../bangs.css")
      link(rel="stylesheet" href="styles/docs.css")
  body
    a.h-Hidden(href="#main") skip to main content
    main#main
      header
        h1= page.title() || page.name()
        p= page.description()
        nav#contents
          h2 Contents
          details
            summary.-fz-mill show cotents
            +proptoc({pages: page.findAll(), depth: 1})
      aside
        h2 Stability Levels
        p.
          Please note the following stability levels.
          Each CSS property in this project is assigned a level describing its stability;
          some values or pseudo-classes under a property might possibly have their own level,
          in which case this would override the property&rsquo;s stability level.
        p.
          For example, the group of classes #[code .-d] (corresponding to the CSS property #[code display])
          might have Stability 4, but #[code .-d-fx] (for #[code display: flex]) could have Stability 3, and
          #[code .-d-il-nK] (for #[code display: inline] on extra-small screens) could have Stability 2.
        ol.o-List
          each item in Docs.DATA.global.stability_levels
            li.o-List__Item: +stabilityLevel(item)
      section
        h2 Properties
        each subpage in page.findAll()
          - let id = subpage.url().split('#')[1]
          section(id=id)
            h3
              = subpage.name()
              include ../node_modules/xmeter/_views/_c-Permalink.view.pug
              //- +permalink(id)
            each propertypage in subpage.findAll()
              -
                let property = Docs.DATA.properties.find(function (p) { return p.name === propertypage.name() })
                let stab = Docs.DATA.global.stability_levels[property.stability]
              section.c-Property(id=property.name)
                h4.-fz-giga
                  = property.name
                  include ../node_modules/xmeter/_views/_c-Permalink.view.pug
                  +permalink(property.name)
                blockquote.c-Property__Desc
                  a(href=property.url rel="external")= property.summary
                  if property.inherited
                    small.c-Label.c-Label--inherited
                      a(title="read about inherited properties" href="https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance" rel="external")
                        | inherited
                +stabilityLevel(stab)
                dl.c-Property__Classes
                  each val in Docs.DATA.global.values
                    dt: code= `.-${property.code}-${val.code}`
                    dd: code= val.name
                  each val in property.values.filter(function (v) { return Docs.DATA.global.values.every(function (u) { return u.name !== v.name }) })
                    dt
                      code= `.-${property.code}-${val.code}`
                      if val.stability >= 0
                        - let kwd = Docs.DATA.global.stability_levels[val.stability].name
                        small.c-Label(class=`t-stability-${kwd}`): b= kwd
                    dd
                      code= val.name
                      if val.name === property.initial
                        small.c-Label.c-Label--initial
                          a(title="read about initial values" href="https://developer.mozilla.org/en-US/docs/Web/CSS/initial_value" rel="external")
                            | initial value
    a#_skip-to-top(href="#main") jump to top
